<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- 定义shiro的拦截器 -->
<!-- 	<filter>
		<filter-name>iniShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
		默认从/web-inf/shiro加载，如果没有，则默认加载classpath:shiro.ini
		<init-param>
			<param-name>configPath</param-name>
			<param-value>classpath:shiro.ini</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>iniShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	<!-- 从 Shiro 1.2 开始引入了Environment/WebEnvironment的概念，即由它们的实现提供相应的
SecurityManager及其相应的依赖。ShiroFilter会自动找到Environment然后获取相应的依赖。 -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>shiroEnvironmentClass</param-name>
        <param-value>org.apache.shiro.web.env.IniWebEnvironment</param-value><!-- 默认先从/WEB-INF/shiro.ini，如果没有找classpath:shiro.ini -->
    </context-param>
    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <!-- <param-value>classpath:shiro.ini</param-value> -->
        <!-- 这里加载basic的配置文件，配置文件中在访问/role的时候使用basicauth的形式弹窗请求授权 -->
        <!-- <param-value>classpath:shiro-basicfilterlogin.ini</param-value> -->
        <!-- 这里使用基于表单的拦截器身份验证 -->
        <param-value>classpath:shiro-formfilterlogin.ini</param-value>
    </context-param>
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<error-page>-->
        <!--<error-code>401</error-code>-->
        <!--<location>/WEB-INF/jsp/unauthorized.jsp</location>-->
    <!--</error-page>-->


</web-app>